In [1]:
# Pyspark handling Missing Values
# Dropping Columns
# Dropping Rows
# Various Parameters in Droping Functions
# Handling Missing Values by mean

In [2]:
import os, pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("practice3").getOrCreate()

In [3]:
SC_df = spark.read.option("header","True").csv(r"/home/ABC/Documents/Pyspark/practice3.csv",inferSchema=True,sep=",")
print(SC_df.show())

+--------------------+----+----------+------+
|               Name | Age|Experience|Salary|
+--------------------+----+----------+------+
|       Indira Gandhi|  48|        15|  1000|
|        Rajiv Gandhi|  40|         5|  1000|
| P. V. Narasimha Rao|  69|         8|  9000|
|Atal Bihari Vajpayee|  71|        14|  7000|
|    H. D. Deve Gowda|  63|         2|  6000|
|      Manmohan Singh|  71|         6|  5000|
|                 ABC|null|      null|  7000|
|                null|  76|         8|  7899|
|                 XYZ|  77|      null|  null|
|                 PQR|null|      null|  null|
+--------------------+----+----------+------+

None

In [4]:
# Dropping Rows
# Various Parameters in Droping Functions
# Handling Missing Values by mean


# How threshold subset
print("""#####################################################""")  
print("###################### how #########################")
print("""#####################################################""")  
print("""how "str", optional""")  
print("""if "any" drop a row if it contains any null""")
print("""if "all" drop a row only if all it values are null""")
print("""#####################################################""")  
print("""#####################################################""")  
print("==================SC_df Dataframe==================")
print(SC_df.show())
print("==================how==================")
print(SC_df.na.drop(thresh=2).show())
#####################################################


print(""""#####################################################""")
print("""###################### thresh #######################""")
print("""#####################################################""")
print("""thresh int, optional""")
print("""Default None""")
print("""if specified, drop rows that have specified less than "thresh" non-null values""")
print("""I given thresh is 2 that means i will check atleast two non null values are present it will not remove if less than two it will drop the records """)
print("==================SC_df Dataframe==================")

print(SC_df.show())
print("==================thresh==================")

print(SC_df.na.drop(thresh=2).show()) # if any record contains  null it will drop the record
# print(SC_df.na.drop(how="all").show()) # if any record contains  null it will drop the record


print("""#####################################################""")
print("""###################### subset #######################""")
print("""#####################################################""")

print("""Subset "Str","tuple","list",optional""")
print("""optional list of columns names should be considered""")
print("""where evere there are nan/null values in the record all those whole records will be deleted""")
print("==================SC_df Dataframe==================")

print(SC_df.show())
print("==================subset==================")
print(SC_df.na.drop(how="any",subset=["Name "]).show())

######################################################

#####################################################
###################### how #########################
#####################################################
how "str", optional
if "any" drop a row if it contains any null
if "all" drop a row only if all it values are null
#####################################################
#####################################################
==================SC_df Dataframe==================
+--------------------+----+----------+------+
|               Name | Age|Experience|Salary|
+--------------------+----+----------+------+
|       Indira Gandhi|  48|        15|  1000|
|        Rajiv Gandhi|  40|         5|  1000|
| P. V. Narasimha Rao|  69|         8|  9000|
|Atal Bihari Vajpayee|  71|        14|  7000|
|    H. D. Deve Gowda|  63|         2|  6000|
|      Manmohan Singh|  71|         6|  5000|
|                 ABC|null|      null|  7000|
|                null|  76|         8|  7899|
|                 XYZ|  77|      null|  null|
|                 PQR|null|      null|  null|
+--------------------+----+----------+------+

None
==================how==================
+--------------------+----+----------+------+
|               Name | Age|Experience|Salary|
+--------------------+----+----------+------+
|       Indira Gandhi|  48|        15|  1000|
|        Rajiv Gandhi|  40|         5|  1000|
| P. V. Narasimha Rao|  69|         8|  9000|
|Atal Bihari Vajpayee|  71|        14|  7000|
|    H. D. Deve Gowda|  63|         2|  6000|
|      Manmohan Singh|  71|         6|  5000|
|                 ABC|null|      null|  7000|
|                null|  76|         8|  7899|
|                 XYZ|  77|      null|  null|
+--------------------+----+----------+------+

None
"#####################################################
###################### thresh #######################
#####################################################
thresh int, optional
Default None
if specified, drop rows that have specified less than "thresh" non-null values
I given thresh is 2 that means i will check atleast two non null values are present it will not remove if less than two it will drop the records
==================SC_df Dataframe==================
+--------------------+----+----------+------+
|               Name | Age|Experience|Salary|
+--------------------+----+----------+------+
|       Indira Gandhi|  48|        15|  1000|
|        Rajiv Gandhi|  40|         5|  1000|
| P. V. Narasimha Rao|  69|         8|  9000|
|Atal Bihari Vajpayee|  71|        14|  7000|
|    H. D. Deve Gowda|  63|         2|  6000|
|      Manmohan Singh|  71|         6|  5000|
|                 ABC|null|      null|  7000|
|                null|  76|         8|  7899|
|                 XYZ|  77|      null|  null|
|                 PQR|null|      null|  null|
+--------------------+----+----------+------+

None
==================thresh==================
+--------------------+----+----------+------+
|               Name | Age|Experience|Salary|
+--------------------+----+----------+------+
|       Indira Gandhi|  48|        15|  1000|
|        Rajiv Gandhi|  40|         5|  1000|
| P. V. Narasimha Rao|  69|         8|  9000|
|Atal Bihari Vajpayee|  71|        14|  7000|
|    H. D. Deve Gowda|  63|         2|  6000|
|      Manmohan Singh|  71|         6|  5000|
|                 ABC|null|      null|  7000|
|                null|  76|         8|  7899|
|                 XYZ|  77|      null|  null|
+--------------------+----+----------+------+

None
#####################################################
###################### subset #######################
#####################################################
Subset "Str","tuple","list",optional
optional list of columns names should be considered
where evere there are nan/null values in the record all those whole records will be deleted
==================SC_df Dataframe==================
+--------------------+----+----------+------+
|               Name | Age|Experience|Salary|
+--------------------+----+----------+------+
|       Indira Gandhi|  48|        15|  1000|
|        Rajiv Gandhi|  40|         5|  1000|
| P. V. Narasimha Rao|  69|         8|  9000|
|Atal Bihari Vajpayee|  71|        14|  7000|
|    H. D. Deve Gowda|  63|         2|  6000|
|      Manmohan Singh|  71|         6|  5000|
|                 ABC|null|      null|  7000|
|                null|  76|         8|  7899|
|                 XYZ|  77|      null|  null|
|                 PQR|null|      null|  null|
+--------------------+----+----------+------+

None
==================subset==================
+--------------------+----+----------+------+
|               Name | Age|Experience|Salary|
+--------------------+----+----------+------+
|       Indira Gandhi|  48|        15|  1000|
|        Rajiv Gandhi|  40|         5|  1000|
| P. V. Narasimha Rao|  69|         8|  9000|
|Atal Bihari Vajpayee|  71|        14|  7000|
|    H. D. Deve Gowda|  63|         2|  6000|
|      Manmohan Singh|  71|         6|  5000|
|                 ABC|null|      null|  7000|
|                 XYZ|  77|      null|  null|
|                 PQR|null|      null|  null|
+--------------------+----+----------+------+

None

In [5]:
#Replace 0 for null for all integer columns
# method 1
print("Replace 0 for null for all integer columns")
SC_df.na.fill(0).show()
# or 
SC_df.na.fill(value=0).show()
# Replace Replace 0 for null on only population column 
print("PySpark Replace Null/None Value with Empty String")
SC_df.na.fill(0,'Experience').show()
print("PySpark Replace Null/None Value with Empty String with multiple columns")
SC_df.na.fill(0,['Experience',"Age"]).show()
# SC_df.show()
# PySpark Replace Null/None Value with Empty String
print("PySpark Replace Null/None Value with Empty String")
SC_df.na.fill("unknown","Name ").show()
print("PySpark Replace Null/None Value with Empty String using Dict format for multiple columns")

SC_df.na.fill({"Name ":"Unknown","Age":0}).show()

Replace 0 for null for all integer columns
+--------------------+---+----------+------+
|               Name |Age|Experience|Salary|
+--------------------+---+----------+------+
|       Indira Gandhi| 48|        15|  1000|
|        Rajiv Gandhi| 40|         5|  1000|
| P. V. Narasimha Rao| 69|         8|  9000|
|Atal Bihari Vajpayee| 71|        14|  7000|
|    H. D. Deve Gowda| 63|         2|  6000|
|      Manmohan Singh| 71|         6|  5000|
|                 ABC|  0|         0|  7000|
|                null| 76|         8|  7899|
|                 XYZ| 77|         0|     0|
|                 PQR|  0|         0|     0|
+--------------------+---+----------+------+

+--------------------+---+----------+------+
|               Name |Age|Experience|Salary|
+--------------------+---+----------+------+
|       Indira Gandhi| 48|        15|  1000|
|        Rajiv Gandhi| 40|         5|  1000|
| P. V. Narasimha Rao| 69|         8|  9000|
|Atal Bihari Vajpayee| 71|        14|  7000|
|    H. D. Deve Gowda| 63|         2|  6000|
|      Manmohan Singh| 71|         6|  5000|
|                 ABC|  0|         0|  7000|
|                null| 76|         8|  7899|
|                 XYZ| 77|         0|     0|
|                 PQR|  0|         0|     0|
+--------------------+---+----------+------+

PySpark Replace Null/None Value with Empty String
+--------------------+----+----------+------+
|               Name | Age|Experience|Salary|
+--------------------+----+----------+------+
|       Indira Gandhi|  48|        15|  1000|
|        Rajiv Gandhi|  40|         5|  1000|
| P. V. Narasimha Rao|  69|         8|  9000|
|Atal Bihari Vajpayee|  71|        14|  7000|
|    H. D. Deve Gowda|  63|         2|  6000|
|      Manmohan Singh|  71|         6|  5000|
|                 ABC|null|         0|  7000|
|                null|  76|         8|  7899|
|                 XYZ|  77|         0|  null|
|                 PQR|null|         0|  null|
+--------------------+----+----------+------+

PySpark Replace Null/None Value with Empty String with multiple columns
+--------------------+---+----------+------+
|               Name |Age|Experience|Salary|
+--------------------+---+----------+------+
|       Indira Gandhi| 48|        15|  1000|
|        Rajiv Gandhi| 40|         5|  1000|
| P. V. Narasimha Rao| 69|         8|  9000|
|Atal Bihari Vajpayee| 71|        14|  7000|
|    H. D. Deve Gowda| 63|         2|  6000|
|      Manmohan Singh| 71|         6|  5000|
|                 ABC|  0|         0|  7000|
|                null| 76|         8|  7899|
|                 XYZ| 77|         0|  null|
|                 PQR|  0|         0|  null|
+--------------------+---+----------+------+

PySpark Replace Null/None Value with Empty String
+--------------------+----+----------+------+
|               Name | Age|Experience|Salary|
+--------------------+----+----------+------+
|       Indira Gandhi|  48|        15|  1000|
|        Rajiv Gandhi|  40|         5|  1000|
| P. V. Narasimha Rao|  69|         8|  9000|
|Atal Bihari Vajpayee|  71|        14|  7000|
|    H. D. Deve Gowda|  63|         2|  6000|
|      Manmohan Singh|  71|         6|  5000|
|                 ABC|null|      null|  7000|
|             unknown|  76|         8|  7899|
|                 XYZ|  77|      null|  null|
|                 PQR|null|      null|  null|
+--------------------+----+----------+------+

PySpark Replace Null/None Value with Empty String using Dict format for multiple columns
+--------------------+---+----------+------+
|               Name |Age|Experience|Salary|
+--------------------+---+----------+------+
|       Indira Gandhi| 48|        15|  1000|
|        Rajiv Gandhi| 40|         5|  1000|
| P. V. Narasimha Rao| 69|         8|  9000|
|Atal Bihari Vajpayee| 71|        14|  7000|
|    H. D. Deve Gowda| 63|         2|  6000|
|      Manmohan Singh| 71|         6|  5000|
|                 ABC|  0|      null|  7000|
|             Unknown| 76|         8|  7899|
|                 XYZ| 77|      null|  null|
|                 PQR|  0|      null|  null|
+--------------------+---+----------+------+

In [6]:
from pyspark.ml.feature import Imputer
# Handling Missing Values by mean
print("Handling Missing Values by mean/median/mode")
imputer = Imputer(inputCols = ["Age","Experience","Salary"],
                 outputCols = ["{}_imputed".format(c) for c in ["Age","Experience","Salary"]]).setStrategy("mean")

imputer.fit(SC_df).transform(SC_df).show()

Handling Missing Values by mean/median/mode
+--------------------+----+----------+------+-----------+------------------+--------------+
|               Name | Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+--------------------+----+----------+------+-----------+------------------+--------------+
|       Indira Gandhi|  48|        15|  1000|         48|                15|          1000|
|        Rajiv Gandhi|  40|         5|  1000|         40|                 5|          1000|
| P. V. Narasimha Rao|  69|         8|  9000|         69|                 8|          9000|
|Atal Bihari Vajpayee|  71|        14|  7000|         71|                14|          7000|
|    H. D. Deve Gowda|  63|         2|  6000|         63|                 2|          6000|
|      Manmohan Singh|  71|         6|  5000|         71|                 6|          5000|
|                 ABC|null|      null|  7000|         64|                 8|          7000|
|                null|  76|         8|  7899|         76|                 8|          7899|
|                 XYZ|  77|      null|  null|         77|                 8|          5487|
|                 PQR|null|      null|  null|         64|                 8|          5487|
+--------------------+----+----------+------+-----------+------------------+--------------+